# dependencies
node_modules
package-lock.json
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next
/.next/
/out/
/front/.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/back/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config/config.env

# vercel
.vercel

# backend files
/back/config/config.env
# /back/package-lock.json